/* FONTES */

@font-face {
    font-family: fonte_navegacao;
    src: url(/assets/fonts/roboto/Roboto-Medium.ttf) format('truetype');
}

@font-face {
    font-family: fonte_principal;
    src: url(/assets/fonts/DM_Serif_Text/DMSerifText-Regular.ttf) format('truetype');
}

@font-face {
    font-family: texto_secundario;
    src: url(/assets/fonts/Lora/Lora-Medium.ttf) format('truetype');
}

@font-face {
    font-family: destaque_italico;
    src: url(/assets/fonts/DM_Serif_Text/DMSerifText-Italic.ttf) format('truetype');
}

/* limpa navegador */
* {
    margin: 0;
    padding: 0;
}

/* corpo total da tela */
body {
    min-height: 100vh;
    background-color: rgb(201, 201, 201);
    display: flex;
    flex-direction: column
}

/* ANIMAÇÃO */

@keyframes slideIn {
    from {
        transform: translateX(300px);
    }

    to {
        transform: translateX(0);
    }
}

/* --------------------- HEADER --------------------- */

/* header total */
header {
    background-color: rgb(205, 205, 205);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); /* adiciona sombras às caixas de elementos */
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex; /* transforma um elemento em um contêiner flexível. */
    /* justify-content: flex-end; */ /* os itens são empurrados para o final do contêiner (direita para o eixo principal horizontal). */
    align-items: center; /* define como os itens flexíveis são alinhados ao longo do eixo transversal (vertical, por padrão). Itens são alinhados ao centro do eixo transversal. */
}

nav img {
    height: 55px;
    padding-left: 10px;
    padding-top: 2px;
}

nav li {
    height: 60px;
}

nav a {
    color: rgb(127, 127, 127);
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: fonte_navegacao;
    font-size: 20px;
}

nav a:hover {
    background-color: rgb(152, 152, 152);
    /* color: blue; */
}

/* Classe adicionada para o ícone do menu */
.icone-menu svg {
    fill: #000000; /* Defina a cor desejada aqui */
}

nav li:first-child {
    margin-right: auto;
}

.barra_lateral {

    animation-name: slideIn;
    animation-duration: 1s;

    position: fixed;
    top: 0%;
    right: 0%;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}

.barra_lateral li {
    width: 100%;
}

.barra_lateral a {
    width: 100%;
}

.botao-menu {
    display: none;
}

/* --------------------- HEADER --------------------- */

/* ---------------------- MAIN ---------------------- */

main {
    display: flex;
    flex-direction: column;
    flex: 1; /* faz o main ocupar o espaço restante */
    background-color: rgb(222, 222, 222);
    align-items: center;
    /* justify-content: center; */
    text-align: center; /* Centraliza o texto dentro do main */
}

.nome {
    color: #2e2ecc;
}

.destaque {
    font-family: destaque_italico;
}

main h1 {
    /* background-color: limegreen; */
    font-family: fonte_principal;
    font-size: 55px;
    padding: 150px 350px 30px 350px;
}

main p {
    /* background-color: chocolate; */
    font-family: texto_secundario;
    font-size: 35px;
    padding: 0px 380px 50px 380px;
}

/* ---------------------- MAIN ---------------------- */

/* ----------------- MEDIA QUERIES ------------------ */
@media(min-width: 1950px) {
    /* HOME */
    main h1 {
        font-size: 75px;
        padding: 180px 450px 30px 450px;
    }

    main p {
        font-size: 55px;
        padding: 0px 300px 50px 300px;
    }
    /* HOME */
}

@media(max-width: 1440px) {
    /* HOME */
    main h1 {
        padding: 150px 150px 30px 150px;
    }

    main p {
        padding: 0px 80px 50px 80px;
    }
    /* HOME */
}

@media(max-width: 1024px) {
    /* HOME */
    main h1 {
        padding: 100px 80px 30px 80px;
    }
    /* HOME */
}

@media(max-width: 800px) {
    .esconde_em_mobile {
        display: none;
    }

    .botao-menu {
        display: block;
    }

    /* HOME */
    main {
        display: flex;
        flex-direction: column;
        flex: 1; /* faz o main ocupar o espaço restante */
        background-color: rgb(222, 222, 222);
        align-items: unset; /* Remove a centralização vertical */
        justify-content: unset; /* Remove a centralização horizontal */
        padding: 0; /* Remove o padding */
        text-align: left; /* Ajusta o alinhamento do texto */
    }

    main h1 {
        padding: 50px 30px 30px 30px;
        font-size: 40px;
    }

    main p {
        padding: 0px 30px 50px 30px;
        font-size: 30px;
    }
    /* HOME */
}

@media(max-width: 300px) {
    .barra_lateral {
        width: 100%;
    }

    /* HOME */
    main h1 {
        font-size: 6vw; /* Diminuir tamanho da fonte do título */
        padding: 6vw 4vw 4vw 4vw;
    }

    main p {
        font-size: 6vw; /* Diminuir tamanho da fonte do parágrafo */
        padding: 0vw 4vw 6vw 4vw;
    }
    /* HOME */
}

/* ----------------- MEDIA QUERIES ------------------ */