/* FONTES */

@font-face {
    font-family: fonte_navegacao;
    src: url(fonts/roboto/Roboto-Medium.ttf) format('truetype');
}

@font-face {
    font-family: fonte_principal;
    src: url(fonts/DM_Serif_Text/DMSerifText-Regular.ttf) format('truetype');
}

@font-face {
    font-family: texto_secundario;
    src: url(fonts/Lora/Lora-Medium.ttf) format('truetype');
}

@font-face {
    font-family: destaque_italico;
    src: url(fonts/DM_Serif_Text/DMSerifText-Italic.ttf) format('truetype');
}

/* limpa navegador */
* {
    margin: 0;
    padding: 0;
}

/* corpo total da tela */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column
}

/* ANIMAÇÃO */

@keyframes slideIn {
    from {
        transform: translateX(300px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* --------------------- HEADER --------------------- */

/* header total */
header {
    background-color: rgb(16, 16, 16);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex; /* transforma um elemento em um contêiner flexível. */
    /* justify-content: flex-end; */ /* os itens são empurrados para o final do contêiner (direita para o eixo principal horizontal). */
    align-items: center; /* define como os itens flexíveis são alinhados ao longo do eixo transversal (vertical, por padrão). Itens são alinhados ao centro do eixo transversal. */
}

nav img {
    height: 55px;
}

nav li {
    height: 65px;
}

nav a {
    color: rgb(200, 200, 200);
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: fonte_navegacao;
    font-size: 20px;
}

nav a:hover {
    background-color: #FF5858;
}

nav li:first-child a:hover {
    background-color: transparent;
}

/* Classe adicionada para o ícone do menu */
.icone-menu svg {
    fill: rgb(200, 200, 200); /* Defina a cor desejada aqui */
}

nav li:first-child a {
    padding: 0;
    padding-left: 10px;
}

nav li:first-child {
    margin-right: auto;
}

.barra_lateral {

    animation-name: slideIn;
    animation-duration: 1s;

    position: fixed;
    top: 0%;
    right: 0%;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgb(16, 16, 16);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1); */
}

.barra_lateral li {
    width: 100%;
}

.barra_lateral a {
    width: 100%;
}

.botao-menu {
    display: none;
}

/* --------------------- HEADER --------------------- */

/* ---------------------- MAIN ---------------------- */

main {
    display: flex;
    flex-direction: column;
    flex: 1; /* faz o main ocupar o espaço restante */
    background-color: rgb(30, 30, 30);
    align-items: center;
    /* justify-content: center; */
    text-align: center; /* Centraliza o texto dentro do main */
    height: 100vh;
}

.nome {
    color: #2e2ecc;
}

.destaque {
    font-family: destaque_italico;
    color: #FF5858;
}

main h1, p {
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

main h1 {
    font-family: fonte_principal;
    font-size: 55px;
    padding: 8% 350px 30px 350px;
    color: rgb(200, 200, 200);
}

main p {
    font-family: texto_secundario;
    font-size: 38px;
    padding: 0px 380px 50px 380px;
    color: rgb(200, 200, 200);
}

/* ---------------------- MAIN ---------------------- */

/* ----------------- MEDIA QUERIES ------------------ */
@media(min-width: 1950px) {
    /* HOME */
    main h1 {
        font-size: 75px;
        padding: 10% 450px 30px 450px;
    }

    main p {
        font-size: 55px;
        padding: 0px 300px 50px 300px;
    }
    /* HOME */
}

@media(max-width: 1440px) {
    /* HOME */
    main h1 {
        padding: 10% 150px 30px 150px;
    }

    main p {
        padding: 0px 80px 50px 80px;
    }
    /* HOME */
}

@media(max-width: 1024px) {
    /* HOME */
    main h1 {
        padding: 8% 80px 30px 80px;
    }
    /* HOME */
}

@media(max-width: 800px) {
    .esconde_em_mobile {
        display: none;
    }

    .botao-menu {
        display: block;
    }

    /* HOME */
    nav img {
        height: 40px;
    }

    nav li {
        height: 50px;
    }

    main h1 {
        padding: 20% 30px 30px 30px;
        font-size: 30px;
    }

    main p {
        padding: 0px 30px 50px 30px;
        font-size: 20px;
    }
    /* HOME */
}

@media(max-width: 300px) {
    .barra_lateral {
        width: 100%;
    }

    /* HOME */
    main h1 {
        font-size: 6vw; /* Diminuir tamanho da fonte do título */
        padding: 6vw 4vw 4vw 4vw;
    }

    main p {
        font-size: 6vw; /* Diminuir tamanho da fonte do parágrafo */
        padding: 0vw 4vw 6vw 4vw;
    }
    /* HOME */
}

@media(max-width: 200px) {
    nav li {
        padding: 0 1vw;
    }
}
/* ----------------- MEDIA QUERIES ------------------ */